.ctgry{
    box-sizing: border-box;
    border: solid 6px #fff;
    background: #ececec;
    padding: 20px;
    margin: 0;
}
.ctgry h4{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 28px;
    color: #059fe6;
    margin-bottom: 27px;
    text-align: center;
}
.ctgry ul{
    margin: 0;
    padding: 0;
}
.ctgry ul li{
    list-style: none;
    line-height: 46px;
    background: #059fe6;
    border-bottom: solid 1px #eceaea;
    text-align: center;

}
.ctgry ul li a{
    color: #fff;
}
a:hover{
    text-decoration: none;
}

.bnr{
    box-sizing: border-box;
    border: solid 6px #fff;
    background: #ececec;
    padding-bottom: 15px;
    padding-top: 15px;
}
.bnr img{
    width: 100%;
    height:312px;
    object-fit:cover;
}
.topAlb{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    box-sizing: border-box;
    border: solid 6px #fff;
    background: #ececec;
    text-align: center;
    padding: 20px 0;
}
.topAlb a{
    color: #626363;
    font-size: 22px;
}
.topAlb a:hover{
    text-decoration: none;
}
.topAlb img{
    width: 50%;
    margin-bottom: 5px;
}
.hdngTxt{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    color: #059fe6;
    text-align: center;
    margin: 40px 0 40px 0;
}
.hdngTxt span{
    border-bottom: solid 2px #059fe6;
    padding-bottom: 5px;
}