/* You can add global styles to this file, and also import other style files */
html, body{
	height: 100%;
  margin: 0;
}
.wrapper{
  min-height: 100%;
  margin: 0 auto -50px;
}
.footer {
    width: 100%;
  height: 50px;
  background: #464646;
  text-align: center;
  line-height: 50px;
  color: #fff;
}
.push {
    width: 100%;
    height: 50px;
  }