
input[type="text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
input[type="button"] {
    border: none;
    background: hsl(199, 97%, 46%);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0px 0px 0;
}
.hdngTxt{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    color: #059fe6;
    text-align: center;
    margin: 40px 0 40px 0;
}
.hdngTxt span {
    border-bottom: solid 2px #059fe6;
    padding-bottom: 5px;
}
.bdr{
    border: solid 10px #efe9e9;
    padding: 50px 0;
}
.bdr h3{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 30px;  
}
.bdr h3 span{
   color: #059fe6; 
}