.hdngTxt{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    color: #059fe6;
    text-align: center;
    margin: 40px 0 40px 0;
}
.hdngTxt span{
    border-bottom: solid 2px #059fe6;
    padding-bottom: 5px;
}
input[type="button"]{
    border: none;
    background: hsl(199, 97%, 46%);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 20px 50px 0;
}
input[type="number"]{
    width: 60px;
    height: 40px; 
}

.albDtls table{
    margin: 60px 0 0 0;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 40px;
    font-size: 28px;
  }
  .albDtls table td{
      padding: 6px 0;

  }
  .bdr{
      border: solid 10px #efe9e9;
  }
  