
<div class="container">
	<div class="row albCtgry">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h5>Category : {{this.category | uppercase}}</h5></div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"><h5 class="text-right">Number of Albums : {{albums.length}}</h5></div>

	</div>
	<div class="row">
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 topAlb"  *ngFor="let item of  albums">
<div class="">
		<a [routerLink] = "['/details',item.id]"> 
				<img src="assets/images/music.png"  />  
				<br/>
				<span>{{item.title | titlecase}}</span>
		</a>
	</div>
</div>
</div>
</div>